*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #011627;
}

#numeri_casuali{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}


.hidden {
    display: none;
}